name: Update Version and Tag
on:
  push:
    branches:
      - master

permissions:
  contents: write
  actions: write

jobs:
  release:
    uses: peavers-warcraft/workflow-templates/.github/workflows/release-on-push.yml@main
    with:
      toc_file: PeaversDynamicStats.toc
      addon_name: PeaversDynamicStats
    secrets: inherit
